<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

  </configSections>
  <entityFramework>
    <contexts>
      <context type="DAL.EF._507SAContext, DAL">
        <databaseInitializer type="DAL.EF._507SAInitializer, DAL" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="507SAContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=507SA.Database;AttachDbFilename=DataBase\507SA.mdf;Persist Security Info=True;User ID=sa;Password=1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>