
@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/css/join")

<div class="row register">
<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <form class="form joinus"  role="form">
        <h2>Будь ласка, увійдіть.</h2>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                    <input type="text" name="email" class="form-control input-lg" placeholder="Е-мейл" tabindex="3">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                    <input type="email" name="зфііцщкв" class="form-control input-lg" placeholder="Пароль" tabindex="4">
                </div>
            </div>
            </div>
        <button class="btn btn-primary btn-block btn-lg">Увійти</button>
        <hr>
        <p class="message">Не зареєстровані? <a href="@Url.Action("Register", "Home")">Зареєструватись</a></p>
    </form>
</div>
</div>