
@{
    ViewBag.Title = "Index";
}

<div>
    <h3>Учасники</h3>
    <table>
        <tr>
            <td><p>Фамілія</p></td>
            <td><p>Ім'я</p></td>
            <td><p>Телефон</p></td>
            <td></td>
        </tr>
        @foreach (var b in ViewBag.Users)
        {
            <tr>
                <td><p>@b.LastName</p></td>
                <td><p>@b.FirstName</p></td>
                <td><p>@b.Phone</p></td>
            </tr>}
    </table>
</div>

